VITE_SUPABASE_URL=https://cawoqqappasjrfolsmkt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhd29xcWFwcGFzanJmb2xzbWt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyOTE5MzIsImV4cCI6MjA4OTg2NzkzMn0.uKIwd2MzybbsiMRAeUqiB7VrNmKH_QP2y9BIOx5cru8
